body {
    background-image: url("../images/papyrus-background-md.jpg");
    background-size: cover;
    /* font-family: 'Alegreya', serif; */
    font-family: 'Amiri', serif;
    font-size: 20pt;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif;
    
}

.answer {
    margin: 10px 0px;
}

.answer:hover {
    background-color: rgba(255, 255, 255, 0.329);
  }

.pic {
    width: 300px;
    height: 260px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

.btn {
    font-size: 24pt;
}